* {
    color: #fff;
    font-family: helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  SPLASH INTRO */

/* header {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
} */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #004866;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}



html,
body {
    background: var(--default);
}

:root {
    --default: #006F9D;
    --empty: #518196;
    --wrong: #FAB900;
    --right: #538d4e;
    --keyboard: #004866;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 100%;
    height: 75px;
    border-bottom: solid 1px var(--empty);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-container {
    width: 500px;
    margin: 30px;

}

.tile-container .tile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--empty);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}

.tile-container div {
    display: flex;
}

.grey-overlay {
    background-color: var(--empty) !important;
}

.yellow-overlay {
    background-color: var(--wrong) !important;
}

.green-overlay {
    background-color: var(--right) !important;
}

.tile.flip {
    animation: .5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}


.message-container {
    height: 30px;
}

.message-container p {
    background-color: var(--empty);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}


.key-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--keyboard);
    margin: 4px;
}

.key-container button:nth-child(11),
.key-container button:nth-child(20) {
    margin-left: 30px;
}