* {
    color: #fff;
    font-family: helvetica;
}

html,
body {
 background: var(--default);
}

:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f36;
    --right: #538d4e;
}

.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 100%;
  border-bottom: solid 1px var(--empty);
}

.tile-container {
    width: 330px;
    margin: 30px;

}

.tile-container .tile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--empty);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}
.tile-container div {
    display: flex;
}

.grey-overlay {
    background-color: var(--empty)!important;
}

.yellow-overlay {
    background-color: var(--wrong)!important; 
}

.green-overlay {
    background-color: var(--right)!important;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}


.message-container {
 height: 30px;
}

.message-container p {
    background-color: var(--empty);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
   }


.key-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--empty);
    margin: 4px;
}

.key-container button:nth-child(11),
.key-container button:nth-child(20) {
    margin-left: 30px;
}
