* {
    color: #fff;
    font-family: helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML/BODY */

html,
body {
    background: var(--default);
}

/*  ROOT COLOURS */

:root {
    --default: #006F9D;
    --empty: #518196;
    --wrong: #FAB900;
    --right: #538d4e;
    --keyboard: #004866;
}

/*  SPLASH INTRO */

.intro {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 150vh;
    background-color: #FAB900;
    transition: 1s;
}

.intro img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -100px;
    opacity: 0;
}

.logo2 {
    position: relative;
    display: inline-block;
    bottom: -40px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 2s;
}

.logo.fade {
    bottom: 100px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}



/*  GAME CONTAINER */

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITLE CONTAINER */

.title-container {
    text-align: center;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container img {
    width: 100%;
    height: 150px;
}

/* MODAL OVERLAY */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 100ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--wrong);
    width: 500px;
    height: 600px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalbody,
.modaltitle {
    color: var(--keyboard);
    padding: 10px 15px;
}


.modalheader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--keyboard);
}

.modalheader .modaltitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.modalheader .closemodal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--keyboard);
}

#modaloverlay {
    position: fixed;
    opacity: 0;
    transition: 100ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#modaloverlay.active {
    opacity: 1;
    pointer-events: all;
}



/* MODAL INFO BUTTON */

#modalinfobtn {
    background: url(../assets/images/audiotestplay.svg) no-repeat;
    background-size: cover;
    border: none;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

#modalinfobtn {
    background: url(../assets/images/audiotestinfo.svg) no-repeat;
}

/* AUDIO BUTTON */

.music-container {
    background-color: #006F9D;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(10, 45, 60, 0.6);
    display: flex;
    /* padding: 20px 30px; */
    position: relative;
    margin: 40px 0;
}

.img-container {
    width: 110px;
    position: relative;
}

.img-container::after {
    content: '';
    height: 110px;
    width: 110px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}


.img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;

}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.action-btn {
    background-color: #006F9D;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgba(10, 45, 60, 0.6);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    padding-right: 10px;
    transition: transform 0.3s ease-in opacity 0.3s ease-in;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4 {
    margin: 0;
    opacity: 0;
}


.progress-container {
    background: rgba(10, 45, 60, 0.6);
    ;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #538d4e;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;

}




/* TILE CONTAINER AND TILES */

.tile-container {
    width: 600px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.tile-container .tile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--empty);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.tile-container div {
    display: flex;
}

/* TILE OVERLAYS */

.grey-overlay {
    background-color: var(--empty) !important;
}

.yellow-overlay {
    background-color: var(--wrong) !important;
}

.green-overlay {
    background-color: var(--right) !important;
}

/* TILE FLIP ANIMATION */

.tile.flip {
    animation: .5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* MESSAGE CONTAINER */

.message-container {
    height: 25px;
    font-size: 2rem;
    text-align: center;
    background-color: var(--right);
    opacity: 0.8;
}


.message-container p {
    background-color: var(--right);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-container button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: var(--keyboard);
    margin: 4px;
}





/* KEYBOARD CONTAINER */

.key-container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.key-container button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--keyboard);
    margin: 4px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {

    .music-container {
        margin: 0 0 30px;
    }
    
    .key-container {
        width: 375px;
        margin-top: 20px;
    }

    .tile-container {
        width: 375px;
    }

    .tile-container .tile {
        width: 35px;
        height: 35px;
    }

    .key-container button {
    width: 35px;
    height: 35px;
    margin: 4px 1px;
    }

}

@media only screen and (max-width: 360px) {
  
    .key-container {
        width: 360px;
        margin-top: 20px;
    }

    .tile-container {
        width: 360px;
    }
    .key-container button {
    width: 33px;
    height: 33px;
    }

}